<h1>Here are the details of your order:</h1>

<p> Order Quantity: <%= @new_order.quantity %></p>
<p> Product ID: <%= @new_order.id %></p>
<p>Order ID: <%= 2394823 + @new_order.id %></p>
<!-- orders.product.name
image
current_user.email
purchased at
name
who ordered it
subtotal 
tax
total -->
