body {
   background: url("background_black.jpg");
   font-family: 'Lobster', cursive;
   color: white;
 } 

 p {
  color: white;
  font-family: 'Lobster';
 }

 a {
  color: white;

 }
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}

.thumbnail {

    background-color: #FA3;

}